<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css'>
    <link rel='stylesheet' href='/css/styles.css'>
    <link rel="icon" type="image/svg+xml" href="/icon.svg">
    <title>YouTube -> MP3</title>
</head>
<body class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
    <div class='w-full max-w-md'>
        <h1 class="text-2xl font-bold text-center">YouTube to MP3</h1>
        <form action="/convert-mp3" method="post" id="form">
            <div class="relative mb-4 flex w-full items-stretch">
                <span class="flex items-center whitespace-nowrap rounded-s border border-e-0 border-solid border-neutral-200 px-2 py-[0.25rem] text-center text-base font-normal leading-[1.6] text-surface" id="basic-addon1">
                    <i class="fa-brands fa-youtube"></i>
                </span>
                <input
                  type="text"
                  class="relative m-0 -me-px block flex-auto border border-solid border-neutral-200 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-surface outline-none transition duration-200 ease-in-out placeholder:text-neutral-500"
                  placeholder="url"
                  name="url"/>
                <button
                  class="inline-block rounded-e border-2 border-primary-100 px-4 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal" 
                  data-twe-ripple-init
                  type="submit"
                  id="submit">
                  Convert
                </button>
            </div>
        </form>
    </div>
    <div class='bottom-container'>
        <% if (typeof success != "undefined" && success) { %>
            <div class="success">
              <p class="mb-2"> <%= title %> </p>
              <a href="<%= download_link %>">
                <div class="flex items-center justify-center">
                    <button class="rounded border-2 border-primary-100 px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-primary-700 hover:border-primary-accent-200 hover:bg-secondary-50/50 focus:border-primary-accent-200 focus:bg-secondary-50/50 focus:outline-none focus:ring-0 active:border-primary-accent-200 dark:border-primary-400 dark:text-primary-300 dark:hover:bg-blue-950 dark:focus:bg-blue-950" id="download-btn">
                      Download
                    </button>
                </div>
            </a>
            </div>
        <% } else if (typeof success != "undefined" && !success) { %>
            <div class="errors">
              <p> <%= message %> </p>
            </div>
        <% } %>
    </div>
</body>
</html>