<!DOCTYPE html>
<html lang='en'></html>
<head>
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css'>
    <link rel='stylesheet' href='/css/styles.css'>
    <title>YouTube -> MP3</title>
</head>
<body>
    <div class='container'>
        <form action='convert-mp3' method='post' id='form'>
            <h1><i class="fa-brands fa-youtube"></i>Youtube -> MP3</h1>
            <div>
                <input type='text' name='url' id='url' placeholder='Enter YouTube URL'>
                <button id='submit'>Convert</button>
            </div>
        </form>
    </div>
    <div class='bottom-container'>
        <% if (typeof success != "undefined" && success) { %>
            <div class="success">
              <p> <%= title %> </p>
              <a href="<%= download-link %>"><button id="download-btn">DOWNLOAD</button></a>
            </div>
        <% } else if (typeof success != "undefined" && !success) { %>
            <div class="errors">
              <p> <%= message %> </p>
            </div>
        <% } %>
    </div>
</body>
</html>